<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo elemento</ion-title>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="form.invalid"
        type="submit"
        color="primary"
        (click)="confirm()"
        >Hecho</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="confirm()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input
              label="Elemento"
              type="text"
              placeholder="Nombre del elemento a añadir..."
              name="description"
              class="ion-text-right"
              formControlName="description"
              (input)="(item.description)"
            />
          </ion-item>
          @if(hasError('description')){
          <ion-label color="danger">{{
            getErrorMessage("description")
          }}</ion-label>
          }
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-input
              label="Cantidad"
              type="number"
              class="ion-text-right"
              min="1"
              inputmode="tel"
              formControlName="quantity"
              name="quantity"
            />
          </ion-item>
          @if(hasError('quantity')){
          <ion-label color="danger">{{
            getErrorMessage("quantity")
          }}</ion-label>
          }
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-select label="Unidad" formControlName="unit">
              @for(unit of unitsSignal(); track unit.id){
              <ion-select-option [value]="unit">{{
                unit.description
              }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
          @if(hasError('unit')){
          <ion-label color="danger">{{ getErrorMessage("unit") }}</ion-label>
          }
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
